.side-bar {
    background-color: #c62828;
    width: 100%;
    height: 50px;
    position: fixed;
}

.user {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 7px;
}

.user-name {
    font-size: 25px;
}

.exit-btn {
    border: 1px solid lemonchiffon;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f49fb1;
    padding: 10px;
    margin-right: 10px;
    width: 100px;
    transition: 0.5s ease;
}
.exit-btn:hover {
    background-color: #ff80ab;
    color: white;
}