* {
	font-family: "Roboto", sans-serif;
}
body {
	background-color: white;
	margin: 0px;
}

.container {
	margin-top: 40px;
	position: relative;
	max-width: 1920px;
}

.box {
	margin-top: 8px;
	align-items: center;
}

.logo {
	width: 100px;
}

.case {
	flex-grow: 1;
	padding: 1px;
	width: max-content;
}
.form {
	display: inline-grid;
}
input {
	height: 25px;
	margin-top: 10px;
	border-radius: 10px;
}

.reg,
.log,
.no_akk {
	border: none;
	cursor: pointer;
	color: white;
	background-color: black;
	margin-top: 10px;
}

.reg {
	margin-left: 40px;
}

.reg_up {
	display: flex;
	margin: 0 auto;
	margin-top: 10px;
}
.board-item {
    width: 75%;
    height: 510px;
}

.img-filebase {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 259px;
	height: 181px;
	object-fit: scale-down;
	border: 2px solid black;
	left: 750px;
	bottom: 80px;
}
