.fields {
	display: flex;
	position: relative;
}
.field {
	display: flex;
	margin: 0px 30px 0px 35px;
}
.item p {
	font-weight: bold;
}

.otstup {
	display: flex;
	margin-left: 20px;
}
.field:nth-child(3) {
	margin-left: 40px;
}

.text_field {
	width: 300px;
}
.otstup_1 {
	margin-left: 45px;
}
.btn {
	width: 30px;
	height: 30px;
	margin-left: 20px;
	margin-top: 12px;
}

.size_1 {
	width: 220px;
}

.size_2 {
	width: 55px;
}

.color {
	border: 2px solid black;
	border-radius: 1px;
	height: 30px;
	background-color: #D9D9D9;
}
.color_1 {
	border: none;
	background-color: transparent;
}

.item {
	margin-left: 10px;
}
.otstup_2 {
	margin-left: 120px;
}
.btn_low {
	width: auto;
	background-color: #D9D9D9;
	cursor: pointer;
	margin-top: 50px;
}

.btn_up {
	margin-top: -10px;
	margin-left: 80px;
}
.plate_2, .plate_3, .addBtn2{
	/*display: none;*/
}
.addFieldBtn {
	width: auto;
	background-color: #D9D9D9;
	cursor: pointer;
	margin-top: 20px;
	margin-left: 30px;
}
.addBtn {
	display: none;
}